<!-- Se usuário não existe -->
<ion-list *ngIf="noUser">
  <ion-item color="danger">
    <ion-label class="ion-text-center">Usuário não encontrado!</ion-label>
  </ion-item>
  <ion-button expand="block" class="ion-margin" (click)="listUsers()">Listar usuários</ion-button>
</ion-list>

<!-- Se usuário existe ou está criando um novo -->
<div *ngIf="!noUser">

<p class="ion-margin" *ngIf="!userForm.controls.id.value">
  Preencha os campos abaixo com atenção para cadastrar um novo usuário.
</p>

<p class="ion-margin" *ngIf="userForm.controls.id.value">
  Preencha os campos abaixo com atenção para editar um novo usuário.
</p>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
<input type="hidden" id="id" name="id" formControlName="id">

<ion-list lines="full" class="ion-margin">

  <!-- Campo 'name' -->
  <ion-item>
    <ion-label for="name" position="floating" color="primary">Nome:

      <!-- Se está em estado de erro -->
      <ion-text color="danger" *ngIf="userForm.controls.name.errors">

       <!-- Se ainda não preencheu -->
        <small *ngIf="userForm.controls.name.errors.required">* Obrigatório</small>
        
        <!-- Se não tem comprimento suficiente -->
        <small *ngIf="userForm.controls.name.errors.minlength">* Inválido</small>
      </ion-text>

    </ion-label>
    <ion-input type="text" id="name" name="name" formControlName="name"></ion-input>
  </ion-item>

  <!-- Campo 'email' -->
  <ion-item>

    <ion-label for="email" position="floating" color="primary">E-mail:
        <ion-text color="danger" *ngIf="userForm.controls.email.errors">

          <!-- Se ainda não preencheu -->
          <small *ngIf="userForm.controls.email.errors.required">* Obrigátorio</small>
          <small *ngIf="userForm.controls.email.errors.pattern">* Inválido</small>

        </ion-text>
    </ion-label>
    <ion-input type="text" id="email" name="email" formControlName="email"></ion-input>
  </ion-item>

  <!-- Campo do 'avatar' -->
  <ion-item>

    <ion-label for="avatar" position="floating" color="primary">URL do avatar:
      <ion-text color="danger" *ngIf="userForm.controls.avatar.errors">

        <!-- Se ainda não preencheu -->
        <small *ngIf="userForm.controls.avatar.errors.required">* Obrigátorio</small>
        <small *ngIf="userForm.controls.avatar.errors.pattern">* Inválido</small>

      </ion-text>
    </ion-label>
    <ion-input type="url" id="avatar" name="avatar" formControlName="avatar"></ion-input>
  </ion-item>

  <!-- Campo do 'status' -->
  <ion-item>

    <ion-label for="status" color="primary">Status:</ion-label>
    <ion-toggle id="status" name="status" slot="end" formControlName="status"></ion-toggle>
  </ion-item>

</ion-list>

<ion-button type="submit" expand="block" class="ion-margin" [disabled]="!userForm.valid">Criar usuário</ion-button>

</form>
</div>