<ion-header>
  <ion-toolbar>
    <!-- Botão do Menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>lista de Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center ion-margin ion-padding" *ngIf="!data">
    <ion-spinner name="crescent"></ion-spinner>
</div>

  <!-- Se existem dados para mostrar -->
  <ion-list *ngIf="data"> 

    <div *ngFor="let user of itemsPage">

      <ion-item routerDirection="root" [routerLink]="['/usuarios/usuario/', user.id]">
        <ion-avatar slot="start">
           <img src="{{user.avatar}}" alt="{{user.name}}">
        </ion-avatar>
        <ion-label>
            <h2>{{user.name}}</h2>
            <h3>{{user.email}}</h3>
        </ion-label>

      </ion-item>

    </div>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

<ion-list *ngIf="noUsers">
    <ion-item color="danger">
       <ion-label class="ion-text-center">Nenhum usuário encontrado!</ion-label>
    </ion-item>
  </ion-list>

  </ion-content>
